<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Comprar</title>
     <link rel="stylesheet" type="text/css" href="cssGeral.css">
</head>
<body>
<div class="divContainer">
        <nav class="barraLateral">
            <img class="logoJtechBL" src="J.Tech%20Logo%20Branco.svg" alt="Logo Jornada Tech Branco">
        <div class="div-redonda">
            <img src="perfil.jpg" alt="Foto de Perfil">
            <h2 class="h4" style="text-align: center; color: white; padding-top: 24px;">Gerente Carlos</h2>
        </div>
        <div class="movebutton">
        <button class="buttonMenu">Clientes</button>
        <button class="buttonMenu">Cartões</button>
        <button class="selectedButtonMenu">Compras</button>
        <button class="buttonMenu">Relatórios</button>
        </div>
        </nav>
</div>
</body>
</html>