{%extends "home.html"%}
{%block content%}
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<h1> CADASTRAR COMPRA </h1>

<div class=" d-flex flex-column mt-3">
    <div class="container d-flex flex-column mt-3">
    <label class="form-label">Selecione o Cartão</label>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>


  <label for="Valor" class="form-label">Valor</label>
  <input type="number" min="0" class="form-control" id="Valor" placeholder="Valor do produto">


    <label for="categoria" class="form-label"> Selecione a categoria </label>
    <select class="form-select " id="categoria" name="categoria" aria-label="Escolha a categoria desejada">
        <option value="catSupermercado">Supermercado</option>
        <option value="catRestaurante">Restaurante</option>
        <option value="catViagem">Viagem</option>
        <option value="catCombustivel">Combustível</option>
        <option value="catFarmacia">Farmacia</option>
        <option value="catLojasDepart">Lojas de Departamento</option>
        <option value="catRoupasEModa">Roupas e Moda</option>
        <option value="catEletr">Eletrônicos</option>
        <option value="catLazerEntreten">Lazer e Entretenimento</option>
        <option value="catAssinaturasOnLine">Assinaturas e Serviços on-line</option>
        <option value="catSaude">Saúde</option>
        <option value="catDoacoesCar">Doações de Caridade</option>
        <option value="catOutros">Outros</option>
    </select>


        
    <label for="estabelecimento" class="form-label">Digite o nome do Estabelecimento </label>
    <input class="form-control" type="text" id="estabelecimento" name="estabelecimento" aria-label="Digite o nome Comercial do Estabelecimento em que foi efetuada a compra">

        <div class="mt-5">
            <button class="btn btn-danger"type="reset"> Cancelar </button>
            <button class="btn btn-primary" type="submit"> Cadastrar </button>
        </div>

    </div>
</div>

{%endblock%}